<h2>Update Project <%= @project.title %></h2>
<%# Add Volunteer Input & Button %>
  <form action="/project/<%= @project.id %>/volunteers" method="post">
    <div class="form-group">
      <input id="name" name="name" class="form-control" type="text">

    </div>
    <button type="submit" class="btn btn-info">Update Volunteer</button>
  </form>
<%# Update Input & Button %>
  <form action="/project/<%= @project.id %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <input id="title" name="title" type="text" placeholder="Edit Project Name">
    <button type="submit" class="btn btn-danger">Update Project</button>
  </form>
<%# Delete Button %>
  <form action="/project/<%= @project.id %>" method="post">
    <input name="_method" type="hidden" value="delete">

    <button type="submit" class="btn btn-danger">Delete Project</button>
  </form>