<h2>Update Project <%= @project.title %></h2>

  <form action="/project/<%= @project.id %>" method="post">
    <input name="_method" type="hidden" value="patch">

    <input id="title" name="title" type="text" placeholder="Edit Project Name">
    <button type="submit" class="btn btn-danger">Update Project</button>
  </form>