<h1>Add a new project</h1>

<form action="/projects" method="post">
  <div class="form-group">
    <input id="title" name="title" class="form-control" type="text" placeholder="Enter Here">
    <button type="submit" class="btn btn-info">Click Project</button>
  </div>
</form>